@import '../utils/css/shadows.scss';

.tooltip {
	font-size: 1rem;
	background: white;
	@include shadow(2);
	position: relative;
	padding: 0.5rem 0.75rem;
}

.tooltip__closeButton {
	position: absolute;
	top: 4px;
	right: 4px;
	cursor: pointer;
	color: #aaa;
	font-size: 11px;
	&:hover {
		color: #808080
	}
}

// Arrow

@mixin arrow($height, $width, $margin) {
	.tooltip__arrow_side_top { top: -$height; }
	.tooltip__arrow_side_left { left: -$height; }
	.tooltip__arrow_side_bottom { bottom: -$height; }
	.tooltip__arrow_side_right { right: -$height; }

	.tooltip__arrow_orientation_horiz {
		width: $width;
		height: $height;

		&.tooltip__arrow_position_begin {
			left: $margin;
		}
		&.tooltip__arrow_position_center {
			left: 50%;
			margin-left: -$width / 2;
		}
		&.tooltip__arrow_position_end {
			left: 100%;
			margin-left: -$margin - $width;
		}
	}

	.tooltip__arrow_orientation_vert {
		width: $height;
		height: $width;

		&.tooltip__arrow_position_begin {
			top: $margin;
		}
		&.tooltip__arrow_position_center {
			top: 50%;
			margin-top: -$width / 2;
		}
		&.tooltip__arrow_position_end {
			top: 100%;
			margin-top: -$margin - $width;
		}
	}

	// arrow icon
	.tooltip__arrow > * {
		width: $width;
		height: $width;
	}
	.tooltip__arrow_side_bottom > * { margin-top: -$height }
	.tooltip__arrow_side_right > * { margin-left: -$height }
}

// size for arrow oriented like this: /\
$arrow-height: 0.5rem;
$arrow-width: 1rem;
$arrow-margin: 0.5rem;

.tooltip__arrow {
	position: absolute;
	overflow: hidden;
	& > * {
		position: absolute;
		fill: white;
	}
}

.tooltip {
	@include arrow($arrow-height, $arrow-width, $arrow-margin);
}

// Size

.tooltip_size_small {
	padding: 0.375rem 0.5rem;
	font-size: 0.9rem;
	@include arrow($arrow-height, $arrow-width, 0.375rem);
}

.tooltip_size_big {
	padding: 0.75rem 1rem;
	@include arrow($arrow-height, $arrow-width, 0.75rem);
}

// Style

.tooltip_style_dark {
	background: #333;
	color: white;

	.tooltip__arrow > * {
		fill: #333
	}
}
