{
	"parser": "babel-eslint",
    "extends": "airbnb",
    "rules": {
        "indent": [2, "tab"],
		"curly": [2, "multi-line"],
		"dot-notation": 0,
		"default-case": 0,
		"no-nested-ternary": 0,
		"semi": 0,
		"id-length": 0,
		"prefer-const": 0,
		"no-else-return": 0,
		"comma-dangle": [2, "never"],
		"func-names": 0,
		"padded-blocks": 0,
		"guard-for-in": 0,
		"one-var": [2, {
			"initialized": "never"
		}],
		"react/wrap-multilines": 0,
		"react/prop-types": 0,
		"react/no-multi-comp": 0,
		"react/sort-comp": 0,
		"react/jsx-quotes": [2, "single"]
    },
    "env": {
        "es6": true,
        "browser": true,
		"node": true,
		"mocha": true
    },
	"globals": {
		"DEBUG": false
	},
    "ecmaFeatures": {
        "experimentalObjectRestSpread": true
    },
    "plugins": [
        "react"
    ]
}
